div#login_aria {
    width: 782px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

div#login_aria h1 {
    text-align: center;
    margin-bottom: 50px;
}

.submit_aria {
    box-shadow: 5px 4px 10px #848282;
    border-radius: 11px;
    padding: 33px;
}

input.form-control {
    margin-bottom: 25px;
}
#transection{

    display: none;
    width: 800px;
    margin: auto;
    margin-top: 100px;

}
.item1 {
    background: #7b79ef;
    padding: 10px;
    border-radius: 7px;
    color: #ffffff;
    margin: 0px 3px 0px 3px;
}
.item2 {
    background: #f7bb7d;
    padding: 10px;
    border-radius: 7px;
    color: #ffffff;
    margin: 0px 3px 0px 3px;
}
.item3 {
    background: #f5b541;
    padding: 10px;
    border-radius: 7px;
    color: #ffffff;
    margin: 0px 3px 0px 3px;
}
input.form-control.status {
    margin-bottom: 3px;
    margin-top: 17px;
}
.col-md-6 {margin-top: 55px;}

